@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f1111;
  --amazon-blue: #232f3e;
  --amazon-light-blue: #37475a;
  --amazon-yellow: #ffd814;
  --amazon-orange: #ffa41c;
  --amazon-link: #007185;
  --amazon-price: #b12704;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}